<!-- start custom analytics snippet -->

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9BWYESK2L9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9BWYESK2L9');
</script>

<!-- end custom analytics snippet -->

<!-- Default Statcounter code for Main Bio
https://twoongg.github.io/ -->
<script type="text/javascript">
  var sc_project=13027478; 
  var sc_invisible=1; 
  var sc_security="88ea2f2a"; 
  </script>
  <script type="text/javascript"
  src="https://www.statcounter.com/counter/counter.js"
  async></script>
  <noscript><div class="statcounter"><a title="Web Analytics"
  href="https://statcounter.com/" target="_blank"><img
  class="statcounter"
  src="https://c.statcounter.com/13027478/0/88ea2f2a/1/"
  alt="Web Analytics"
  referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
  <!-- End of Statcounter Code -->